//Colors
$theme-color-one: #F99945;
$theme-color-two: #E87261;
$theme-color-three: #768F93;
$theme-color-four: #47B5CF;

$gray: #999999;
$theme-background-color: #F0EFEE;
$theme-box-shadow: 0 0 6px 0 rgba(#000000, 0.3);

$theme-lace-image-name: "ColorLine.jpg";
$theme-lace-image-name-v: "ColorLine2.jpg";